// Custom styles.

body { 
    background-image: url(/images/bc.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover；
    
    
    //改变背景色和透明度
    .main-inner {
        background: #fff;
        padding: 25px;
        opacity: 0.75;
        border-radius: 10px;
    }
    
    #header {
        padding: 5px 25px;
        margin: 0 auto;
        margin-top:15px;
        width: 1080px;
        //opacity: 0.8; 
        border-radius: 10px;
        
    }
    
    #footer {
        padding: 5px 25px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 5px;
        width: 1080px;
        opacity: 0.8;
        border-radius: 10px;
    }
}

body .main {
  margin-bottom: 45px;
}


#sidebar {
           p,span,a {color: #ffb6c1;}
}

#sidebar {
            background:url(/images/sidebar_bc.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #ffb6c1;}
}
